
// variables
$color-brand: rgb(247, 105, 0);
$color-brand2: rgb(198, 85, 0);
$color-brand3: rgb(138, 59, 0);

$color-white: white;
$color-black: black;

$color-dark-grey: #333333;
$color-grey: #565656;
$color-light-grey: #999999;
$color-lighter-grey: rgb(231, 231, 231);
